@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

h1,
h2,
h3{
    font-family: 'Montserrat', sans-serif;
}
a{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
p{
    font-family: 'Lora', serif;
    font-size: 20px;
}
h1{
    font-size: 24px;
}
h2{
    font-size: 24px;
}
.Nav-links a{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.send, .cancel{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
}